/** 清除内外边距   **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  	margin: 0;
  	padding: 0;
}
html{
}
body{
	margin:0;
	font-size:100%;
	line-height:1.5;
	color:#333;
	background-color:#fff;
	overflow: hidden; /* this is important to prevent the whole page to bounce */
	-webkit-tap-highlight-color:rgba(255,255,255,0);//屏蔽ios和android下点击元素时出现的阴影
  	-webkit-touch-callout: none; /*长按时不触发系统的菜单*/
}
.btn{
	display: block;
	border: none;
    padding: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    white-space: nowrap;
    outline: none;
    color: #878787;
    background: #fafafa;
    box-sizing: border-box;
    background-color: #fa8919;
    color: #fff;
}

/*****
responsive font
lastmodify zhancheng
由于UE目前都按375为1:2比例计算，所以默认370px为font-size:100px!important;
*****/
html,
body {
  -webkit-text-size-adjust: none!important;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 84.375px!important;
  }
}
@media screen and (min-width: 330px) {
  html {
    font-size: 87.5px!important;
  }
}
@media screen and (min-width: 340px) {
  html {
    font-size: 90.625px!important;
  }
}
@media screen and (min-width: 350px) {
  html {
    font-size: 93.75px!important;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 96.875px!important;
  }
}
@media screen and (min-width: 370px) {
  html {
    font-size: 100.0px!important;
  }
}
@media screen and (min-width: 380px) {
  html {
    font-size: 103.125px!important;
  }
}
@media screen and (min-width: 390px) {
  html {
    font-size: 106.25px!important;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 109.375px!important;
  }
}
@media screen and (min-width: 410px) {
  html {
    font-size: 112.5px!important;
  }
}
@media screen and (min-width: 420px) {
  html {
    font-size: 115.625px!important;
  }
}
@media screen and (min-width: 430px) {
  html {
    font-size: 117.75px!important;
  }
}
@media screen and (min-width: 440px) {
  html {
    font-size: 120.875px!important;
  }
}
@media screen and (min-width: 450px) {
  html {
    font-size: 124.0px!important;
  }
}
@media screen and (min-width: 460px) {
  html {
    font-size: 127.125px!important;
  }
}
@media screen and (min-width: 470px) {
  html {
    font-size: 130.25px!important;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 133.375px!important;
  }
}
@media screen and (min-width: 490px) {
  html {
    font-size: 136.5px!important;
  }
}
@media screen and (min-width: 500px) {
  html {
    font-size: 139.625px!important;
  }
}
@media screen and (min-width: 639px) {
  html {
    font-size: 142.75px!important;
  }
}
@media screen and (min-width: 719px) {
  html {
    font-size: 145.875px!important;
  }
}
@media screen and (max-width: 319px) {
  html {
    font-size: 149.0px!important;
  }
}
